@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #ece0d1;
}

.embla {
  overflow: hidden;
}
.embla__container {
  display: flex;
}
.embla__slide {
  flex: 0 0 100%;
  min-width: 0;
}


.carousel-container {
  width: 80%;
  margin: auto;
}

.carousel-slide {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}